## Typescript q2g Files
*.map
*.js
*.css
package-lock.json

## publish script
!npm/publish.js

src/node_modules/
src/dist/*
test/node_modules/

## Include
!q2g-ext-selector.js

## Standard vccode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json