<div class="q2gExtensionHeader">

    <table class="header">
        <tr>
            <!-- INPUT FIELD -->
            <td>
                <q2g-input-bar ng-show="vm.inputBarVisible"

                               text-input="vm.inputField"
                               placeholder="vm.inputBarPlaceholder"                                
                               theme="vm.theme"
                               icon="vm.inputBarLogo"
                               accept="vm.inputAccept()"
                               cancel="vm.inputCancel()"
                               has-focus="vm.inputBarFocus">
                </q2g-input-bar>
            </td>

            <!-- SEARCH ICON AND TITLE -->
            <td ng-show="!vm.inputBarVisible"
                class="lui-list__header header-theme-{{vm.theme}}"
                ng-click="vm.menuVisible = true">
                <span class="searchObject lui-icon lui-icon--search"
                      ng-click="vm.inputBarVisible = true"
                      q2g-shortcut
                      shortcut="[{name:'focus', shortcut:vm.shortcutSearchfield, triggerHandler:'click'}]"></span>
                <span class="listTitle lui-list__text">{{vm.title}}</span>
            </td>

            <!-- BUTTON GROUP -->
            <td ng-show="vm.menuVisible" >
                <table class="menutable"
                       ng-class="{'menuLocked': vm.isLocked}">
                    <tr>
                        <td class="buttonGroup normalButton"
                            ng-if="vm.popOverList.length>0">
                            <button class="lui-fade-button button-theme-{{vm.theme}}"
                                    title="Selection menu"
                                    ng-click="vm.showPopoverMenu = !vm.showPopoverMenu;">
                                <span class="lui-button__icon lui-icon lui-icon--more"></span>
                            </button>
                        </td>

                        <td class="buttonGroup normalButton" 
                            ng-repeat="item in vm.displayList">
                            <div ng-class="{'separatorV': item.hasSeparator}"
                                 ng-click="item.isEnabled || vm.menuCallback({item: item.name})"                                        
                                 ng-attr-title="{{item.name}}">
                                <button ng-class="{'lui-fade-button': item.buttonType.length===0, 'lui-button': item.buttonType.length>0, 'lui-disabled': item.isEnabled, 'button-theme-{{vm.theme}}': (item.type.length===0), 'button-disabled-theme-inverse': (item.isEnabled && vm.theme === 'inverse')}"
                                        class="lui-button--{{item.buttonType}}">
                                    <span class="lui-button__icon lui-icon lui-icon--{{item.icon}}"></span>
                                </button>
                            </div>
                        </td>
                    </tr>
                </table>
                <div class="lockContainer" 
                     ng-style="{'width': vm.buttonGroupWidth+'px'}"                    
                     ng-if="vm.isLocked"
                     ng-mouseenter="vm.showUnlockMessage = true"
                     ng-mouseleave="vm.showUnlockMessage = false"
                     ng-click="vm.isLocked = false">
                    <span class="lui-icon--lock lockElement luiFont"
                          ng-if="!vm.showUnlockMessage">
                    </span>
                    <span class="lockText"
                          ng-if="vm.showUnlockMessage">
                        Click to unlock
                    </span>
                    
                </div>
            </td>
        </tr>

    </table>

    <ul class="popOverList lui-list"
        ng-show="vm.showPopoverMenu"
        ng-style="{'width': vm.popOverWidth+'px'}">

        <li class="lui-list__item"
            ng-class="{'lui-disabled': item.isEnabled, 'separatorH': item.hasSeparator}"
            ng-click="item.isEnabled || vm.menuCallback({item: item.name}); vm.showPopoverMenu = false"
            ng-repeat="item in vm.popOverList"
            ng-attr-title="{{item.name}}">

            <span class="listCellfirst lui-list__aside lui-icon lui-icon--{{item.icon}}"></span>
            <span class="lui-list__text">{{item.name}}</span>

        </li>
    </ul>
</div>








