<div class="q2glistview"
      ng-mouseover="vm.showScrollBar = true" ng-mouseleave="vm.showScrollBar = false">

    <div q2g-shortcut
         shortcut="[
                {name:'up', shortcut:'40'},
                {name:'down', shortcut:'38'},
                {name:'enter', shortcut:'32'},
                {name:'enterAll', shortcut:'strg + 32'},
                {name:'pageUp', shortcut:'34'},
                {name:'pageDown', shortcut:'33'}                
             ]"
         shortcut-override="vm.overrideShortcuts"
         shortcut-action="vm.shortcutHandler(objectShortcut)">
        <ul>
            <li class="{{item.status | qstatusfilter}}"
                style="height: {{vm.itemHeight + 'px'}};"
                tabindex="0"
                role="application"
                aria-hidden="{{vm.ieItemsReadable}}"
                ng-repeat="item in vm.items track by $index"                
                ng-class="{ 'list-element-focussed': vm.hasFocus($index) && vm.showFocused }"
                ng-click="vm.callbackListviewObjects({pos: $index, event:$event})"
                ng-keydown="vm.itemKeypressed($event, $index)"                
                >
                {{item.title}}
            </li>
        </ul>
    </div>

    <div class="invisibleOutput"
         role="status"
         aria-live="assertive"
         aria-atomic="true"
         aria-relevant="additions"
         aria-hidden="false">
        {{vm.readingText}}
    </div>

    <q2g-scroll-bar items-count="vm.itemsCount" 
                    items-page-top="vm.itemsPageTop" 
                    items-page-height="vm.itemsPageHeight" 
                    vertical="0"
                    show="vm.showScrollBar">
    </q2g-scroll-bar>
</div>

