@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes fadeOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}


.q2gScrollBar {
    position: absolute;

    &.horizontal {
        width: 100%;

        .scrollBarContainer{

            width: 100%;
            height: 11px;

            .scrollBarTracker {
                top: 0;
                height: 11px;
                width: 12px;
            }
        }
    }

    &.vertical {
        right: 0;
        height: 100%;
        top: 0px;

        .scrollBarContainer{
            
            width: 11px;
            height: 100%;

            .scrollBarTracker {
                top: 0;
                height: 12px;
                width: 11px;
            }
        }
    }

    .fadeIn {
        animation-name: fadeIn;
        animation-duration: 1s;
        opacity: 1;
    }

    .fadeOut {
        opacity: 0;
        animation-name: fadeOut;
        animation-duration: 2s;
    }

    .scrollBarContainer {
        top: 0px;
        right: 0;
        position: absolute;
        z-index: 2;
        overflow: visible;

        .scrollBarTracker {
            border-radius: 10px;
            position: absolute;
            z-index: 3;
            overflow: visible;
        }

        .theme-default {
            background: rgba(50, 50, 50, 0.3);
        }

        .theme-inverse {
            background: rgba(255, 255, 255, 0.4);
        }
    }
}