<div class="lui-search search-bar">

    <span class="lui-search__search-icon"></span>
    {{vm.shortcuts.esc.name}}
    <input class="lui-search__input"
           placeholder="{{vm.placeholder}}"
           spellcheck="false"
           tabindex="0"           
           type="text"

           ng-model="vm.textSearch"/>

    <span class="lui-search__clear-icon"
          tabindex="0"

          ng-show="vm.textSearch.length > 0"
          ng-click="vm.textSearch = ''"          
           
          q2g-shortcut
          shortcut="[
                {name:'esc', shortcut: '27', triggerHandler: 'click'}
          ]"></span>
</div>