<div class="lui-search"
     ng-class="{'lui-search--{{vm.theme}}': vm.theme === 'inverse'}">

    <span class="{{vm.icon}}"></span>
    {{vm.shortcuts.esc.name}}
    <input class="lui-search__input"
           placeholder="{{vm.placeholder}}"
           spellcheck="false"
           tabindex="0"           
           type="text"

           ng-model="vm.textSearch"
           
           q2g-shortcut
           shortcut="[
                {name:'accept', shortcut: '13'}
           ]"
           shortcut-action="vm.shortcutHandlerSearchBar(objectShortcut)"
           />

    <span class="lui-search__clear-icon"
          tabindex="0"

          ng-show="vm.textSearch.length > 0"
          ng-click="vm.textSearch = ''"          
           
          q2g-shortcut
          shortcut="[
                {name:'esc', shortcut: '27', triggerHandler: 'click'}
          ]"></span>
</div>